//- Mixin navigation menu
//- =====================
mixin list_navigation(list, isCollapse= false)
    - var klassCollapse = (isCollapse === true) ? ' collapse' : '';
    ul(class='ar-navbar-menu sf-menu' +  klassCollapse)
        each item in list
            - var klassActive = (item.isActive === true) ? ' current' : '';
            - var klassHasChild = (typeof item.sub !== 'undefined') ? ' menu-item-has-children' : '';
            li(class= 'menu-item' + klassActive + klassHasChild)
                a(class="link", href="#")
                    span= item.content
                if klassHasChild === ' menu-item-has-children'
                    ul(class= 'sub-menu' +  klassCollapse)
                        each subitem, i in item.sub
                            //- Sub has 1 level.
                            if typeof subitem === 'string'
                                //- create anchor.
                                - var anchor = '#';
                                if subitem.search('Menu') > -1
                                    - anchor = `menu-${(i+ 1)}.html`;
                                if subitem.search('Home') > -1
                                    - anchor = `home-${(i+ 1)}.html`;
                                li(class= 'menu-item')
                                    a(class= 'link', href= anchor)= subitem
                            //- Sub has > 1 level.
                            else if typeof subitem === 'object'
                                each v,k in subitem
                                    li(class= 'menu-item menu-item-has-children')
                                        a(class= 'link', href="#")= k
                                        ul(class= 'sub-menu' + klassCollapse)
                                            each vv in v
                                                li(class= 'menu-item')
                                                    a(class= 'link', href="#")= vv

//- Mixin social menu
//- =====================
mixin list_social(list, bonus_class= '')
    - var klass = (bonus_class !== '') ? ` ${bonus_class}` : ''
    ul(class= 'ar-social-media-list' + klass)
        each item in list
            li.ar-social-media-item
                a.ar-social-media-link(href="#")
                    i(class= item.icon)
                    | #{item.content}

//- Mixin menu item
//- =====================
//- type = {name: 'row' || 'col', [col: 1 || 2 || 3 || 4], color: 'white' || 'black'}
mixin list_menu(list, type)
    div(class= 'ar-menu-list ar-menu-list-' + type.name)
        if type.name === 'col'
            div(class="ar-list-block ar-column-" + type.col)
                each item,index in list
                    - var hasNewKlass = (index === 0) ? ' has-new' : '';
                    - var wowdelay = index*300;
                    div(class="item" + " " + "wow fadeIn", data-wow-delay= `${wowdelay}ms`)
                        div(class="ar-menu-item" + hasNewKlass)
                            .ar-menu-item--image
                                a.ar-item-image-holder(href="#")
                                    img.img-fluid.ar-item-image(src= item.src, alt="menu-thumbnail-image"+"-"+(index+1))
                            .ar-menu-item--content.pt-xsmall
                                a(href="#", class="ar-menu-item-name" + " c-" + type.color)
                                    span.name= item.name
                                    span.price= item.price
                                p.ar-menu-item-des= item.des
        else if type.name === 'row'
            if type.col === undefined
                each item,index in list
                    - var hasNewKlass = (index === 0) ? ' has-new' : '';
                    div(class="ar-menu-item" + hasNewKlass)
                        .ar-menu-item--image
                            a.ar-item-image-holder(href="#")
                                img.ar-item-image(src= item.src, alt="menu-thumbnail-image"+"-"+(index+1))
                        .ar-menu-item--content
                            .ar-menu-item-name
                                a(href="#", class="name" + " c-" + type.color)
                                    span= item.name
                                span(class="price" + " c-"+ type.color)= item.price
                            p.ar-menu-item-des= item.des
            else
                div(class="ar-list-block ar-column-" + type.col)
                    each item,index in list
                        - var hasNewKlass = (index === 0) ? ' has-new' : '';
                        .item
                            div(class="ar-menu-item" + hasNewKlass)
                                .ar-menu-item--image
                                    a.ar-item-image-holder(href="#")
                                        img.ar-item-image(src= item.src, alt="menu-thumbnail-image"+"-"+(index+1))
                                .ar-menu-item--content
                                    .ar-menu-item-name
                                        a(href="#", class="name" + " c-" + type.color)
                                            span= item.name
                                        span(class="price" + " c-"+ type.color)= item.price
                                    p.ar-menu-item-des= item.des

//- Mixin Parallax (Title can't change)
//- =====================
//- url: string, ex: 'img/image.jpg'
//- size = 'small' || 'big' || 'medium'
//- type = 'full-width' || 'center'
//- bonusclass = string, ex: 'ar-*'
- var static_title_1 = 'Healthy Fresh And Hot Dishes.';
- var static_title_2 = 'Best offers from the house chef.';
mixin parallax(url, size= 'small', type= '', bonusclass = '', title= {main: static_title_1, sub: static_title_2})
    - var klassType = (type !== '') ? ` ${type}` : '';
    - var klassBonus = (bonusclass !== '') ? ` ${bonusclass}` : '';
    section(class="ar-section ar-parallax-image ar-parallax-image--" + size + klassBonus)
        .ar-full-width-wrapper
            .ar-parallax
                div(class="ar-parallax-wrap ar-parallax-wrap--box" + klassType)
                    if klassType !== ''
                        .ar-parallax-box
                            h2.ar-heading.ar-heading--style-1= title.main
                            h4.ar-heading.ar-heading--style-3= title.sub
                    else
                        .container
                            block
                .ar-parallax-wrap.ar-parallax-wrap--holder(style= "background-image: url(" + url + ")")

//- Mixin list special dishes
//- =====================
mixin list_sd(list)
    .ar-sd-list
        each item,index in list
            div(class="ar-sd-item " + item.type)
                .ar-sd-item--image
                    .ar-item-image-holder
                        img.ar-item-image(src= item.src, alt="special-dishes-image"+"-"+(index+1))
                        .ar-sd-item-overlay
                            span.price= item.price
                .ar-sd-item--content
                    .ar-sd-item-title.mb-xsmall
                        h4.ar-text-des.ar-text-des--black= item.title
                    .ar-sd-item-des.mb-small
                        p.ar-text-paragraph= item.des
                    a.ar-btn.ar-btn--link(href="#") read more

mixin temp
  .rev_slider_wrapper
    // the ID here will be used in the JavaScript below to initialize the slider
    #rev_slider_1.rev_slider(data-version='5.4.8', style='display:none')
      ul
        // MINIMUM SLIDE STRUCTURE
        li(data-transition='fade')
          // SLIDE'S MAIN BACKGROUND IMAGE
          img.rev-slidebg(src='img/banner/banner.jpg', alt='Sky')
        // MINIMUM SLIDE STRUCTURE
        li(data-transition='fade')
          // SLIDE'S MAIN BACKGROUND IMAGE
          img.rev-slidebg(src='img/banner/banner-3.jpg', alt='Ocean')